@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

#dashboard-calendar { width: 350px; height: 300px; font-family: 'Droid Sans Mono'; margin: 50px 5px 0; }
#dashboard-calendar .clndr-controls { width: 100%; height: 30px; background: #1874CD; color: #fff; font-weight: 700px; }
#dashboard-calendar .clndr-controls .clndr-previous-button { width: 50px; text-align: center; cursor: pointer; height: 30px; line-height: 30px; }
#dashboard-calendar .clndr-controls .month { width: 250px; text-align: center; text-transform: uppercase; height: 30px; line-height: 30px; }
#dashboard-calendar .clndr-controls .clndr-next-button { width: 50px; text-align: center; cursor: pointer; height: 30px; line-height: 30px; }
#dashboard-calendar .clndr-grid { border-left: 1px solid #1874CD; border-right: 1px solid #1874CD; border-bottom: 1px solid #1874CD; }
#dashboard-calendar .clndr-grid .days-of-the-week { width: 100%; }
#dashboard-calendar .clndr-grid .days-of-the-week .header-day { width: 50px; text-align: center; white-space: nowrap; height: 30px; line-height: 30px; background: #E5F2FF; }
#dashboard-calendar .clndr-grid .days-of-the-week .days { width: 350px; }
#dashboard-calendar .clndr-grid .days-of-the-week .days .day { width: 50px; text-align: center; height: 30px; line-height: 30px; background: #F1F2F4; } 
#dashboard-calendar .clndr-grid .days-of-the-week .adjacent-month { background: #B9DCFF; color: #ccc; } 
#dashboard-calendar .clndr-grid .days-of-the-week .days .event { background: #1C86EE; cursor: pointer; color: #fff; }
